<h1 align="center">RCL AUCTION HOME</h1>
<table class="flat-table flat-table-1" align="center" >
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Team</th>
    <th>Base Points</th>
    <th>Sold Points</th>
    <th colspan="4" align="center">Options</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td align="left"><%= user.middle_name %> <%= user.last_name %></td>
      <td align="center"><%= user.get_team_name || '--' %></td>
      <td align="center"><%= user.base_points %></td>
      <td align="center"><%= user.sold_points %></td>
      <td>&nbsp<%= link_to "Show Full Details", team_owner_user_path(user), :class => 'myButton' %></td>
      <% if user.team_status == 'SOLD' %>
        <th><div class ='myButtonRed'>SOLD!</div></th>
      <% else %>
        <td align="center">&nbsp<%= link_to "BUY", team_owner_user_path(user), :class => 'myButtonGreen' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<div align="center">
  <%= link_to 'New User', new_team_owner_user_path, data: { no_turbolink: true }, id:'myButton', :class => 'myButton' %>
</div>