<h1 align="center">RCL AUCTION HOME</h1>
<table class="flat-table flat-table-1" align="center" >
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Team</th>
    <th>Base Points</th>
    <th>Sold Points</th>
    <th colspan="4" align="center">Options</th>
  </tr>
  <% @players.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td align="left"><%= user.middle_name %> <%= user.last_name %></td>
      <td align="center"><%= user.get_team_name || '--' %></td>
      <td align="center"><%= user.base_points %></td>
      <td align="center"><%= user.sold_points %></td>
    </tr>
  <% end %>
</table>