<table class="form-style-10">
    <%= render :partial =>'common/details'%>
    <th align="left">
      <%= sync partial: 'bid_log_row', resource: @bid_log %>
      <%= sync_new partial: 'bid_log_row', resource: BidLog.new %>
    </th>
  </tr>
  <tr>
    <%= form_for @new_bid_log, :controller => "team_owner/bid_logs", :action => "create", :html => { :method => :post} do |f| %>
      <%= f.hidden_field :player_id, value: @user.id %>
        <td align="right"><%= f.number_field :amount, min:0 %></td>
        <td align="left"><%= f.submit 'Submit', id: 'submit_button' %></td>
    <% end %>
  </tr>
</table>
<div align="center" style="padding-left:800px">
  <% if @next_user.present? %>
    <%= link_to "Next Player", team_owner_user_path(@next_user), :class => 'myButton' %>
  <% end %>
</div>
<a href="<%= team_owner_users_path %>">Back</a>