<%= hidden_field_tag :bid_closed, bid_log.is_closed.present? %>
<script type="text/javascript">
	if(document.getElementById('bid_closed').value == 'true'){
		document.getElementById('BidForm').hidden = true;
	}
</script>
<% if bid_log.amount.present? %>
	<div class="BidSummary">
		<% if bid_log.is_closed %>
			Sold To: <%= bid_log.user.try(:first_name) || '--' rescue nil%> for: <%= bid_log.amount || '--' rescue nil%> points!
		<% else %>
			<%= hidden_field_tag :current_bid_amount, bid_log.amount %>
			Current Bid:<br/><%= bid_log.amount || '--' rescue nil%><br/><br/>
			Current Bidder:<br/><%= bid_log.user.try(:first_name) || '--' rescue nil%>
		<% end %>
	</div>
<% end %>