<%= render :partial =>'common/details'%>
<h3>Bids</h3>
<%= sync partial: 'bid_log_row', resource: @bid_log %>


<hr>
<%= form_for BidLog.new, :controller => "admin/bid_logs", :action => "create", :html => { :method => :post} do |f| %>
    <%= f.text_field :amount %>
    <%= f.hidden_field :player_id, value: @user.id %>
    <%= f.submit 'Submit' %>
<% end %>
<a href="<%= admin_users_path %>">Back</a>