<table class="form-style-10">
    <%= render :partial =>'common/details'%>
    <th align="left">
      <%= sync partial: 'bid_log_row', resource: @bid_log %>
      <%= sync_new partial: 'bid_log_row', resource: BidLog.new %>
    </th>
  </tr>
  <tr>
    <%= form_for @new_bid_log, :controller => "admin/bid_logs", :action => "create", :html => { :method => :post} do |f| %>
      <%= f.hidden_field :player_id, value: @user.id %>
        <td align="left"><%= f.submit 'Close Bid' %></td>
    <% end %>
  </tr>
</table>
<a href="<%= admin_users_path %>">Back</a>