<table class="form-style-10">
    <%= render :partial =>'common/details'%>
    <%= sync partial: 'bid_log_row', resource: @bid_log %>
  </tr>
  <tr>
    <%= form_for BidLog.new, :controller => "admin/bid_logs", :action => "create", :html => { :method => :post} do |f| %>
      <%= f.hidden_field :player_id, value: @user.id %>
        <td align="right"><%= f.number_field :amount, min:0 %></td>
        <td align="left"><%= f.submit 'Submit' %></td>
    <% end %>
  </tr>
</table>

<hr>
<a href="<%= admin_users_path %>">Back</a>