<table class="form-style-10">
<h1 id="label" align="center"> ENTERED DETAILS </h1>
  <tr>
    <td><strong>Name:</strong> <%= @user.first_name %></td>
    <td><strong>Middle Name:</strong> <%= @user.middle_name %></td>
    <td><strong>Last Name:</strong> <%= @user.last_name %></td>
  </tr>
  <tr>
  <td><strong>Email:</strong> <%= @user.email %></td> 
  <td><strong>Login ID:</strong> <%= @user.login_id %></td>
  <td><strong>Date of Birth:</strong> <%= @user.date_of_birth %></td>
</tr>
<tr>
  <td><strong>Gender:</strong> <%= @user.gender %></td>
  <td><strong>Time Zone:</strong> <%= @user.time_zone %></td>
  <td><strong>Designation ID:</strong> <%= @user.designation.designation_name %></td>
</tr>
<tr>
  <td><strong>Date of Joining:</strong> <%= @user.date_of_joining %></td>
  <td><strong>Education:</strong> <%= @user.education %></td>
  <td><strong>Comments:</strong> <%= @user.comments %></td>
</tr>
<% if params[:controller] == "admin/users" %>
<tr>
  <td><strong>Is Active??:</strong> <%= @user.is_active %></td>
  <td><strong>Deactivated On:</strong> <%= @user.deactivated_on %></td>
  <td><strong>Reason:</strong> <%= @user.reason %></td>
</tr>
<tr>
  <td><strong>Role:</strong> <%= @user.role.name %></td>
<% end %>
  <td><strong>Work Phone:</strong> <%= @user.work_phone %></td>
</tr>
</table>
