<table class="form-style-10">
  <h1 id="label" align="center"> ENTERED DETAILS </h1>
  <tr>
    <td align="left"><strong>Name:</strong> <%= @user.first_name %> <%=  @user.middle_name %> <%= @user.last_name %></td>
    <td align="left"><strong>Base Points:</strong> <%= @user.base_points%></td>
    <td align="left"><strong>Sold Points:</strong> <%= @user.sold_points || '--' %></td>
  </tr>
  <tr/>
  <tr>
    <td align="left"><strong>Team:</strong> <%= @user.get_team_name || '--' %></td>
  </tr>
  <% if @user.avatar? %>
    <tr/>
    <tr>  
      <td align="left"><%= image_tag @user.avatar_url(:thumb) %></td>
    </tr>
  <% end %>
</table>
