<% if @user.errors.any? %>
  <div class="ui-state-error" id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %> prohibited
      this user from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<table class="form-style-10"  >
  <tr >
    <td> <%= f.label :first_name %> </td>
    <td> <%= f.text_field :first_name ,:required => true, :placeholder => t('first_name') %></td>

    <td> <%= f.label :middle_name %></td>
    <td> <%= f.text_field :middle_name %></td>
 
    <td> <%= f.label :last_name %> </td>
    <td> <%= f.text_field :last_name ,:required => true ,:placeholder => t('last_name') %></td>
  </tr>
  <tr >
    <td> <%= f.label :email %></td>
    <td> <%= f.text_field :email ,:required => true  ,:placeholder => t('email')%></td>

    <td> <%= f.label :login_id %></td>
    <td> <%= f.text_field :login_id ,:required => true  %></td>
    
  <% if params[:action] != 'edit' %>
      <td> <%=  f.label :password %></td>
      <td> <%= f.password_field  :password ,:required => true  %></td>
    </tr>
  
    <tr>
      <td/> <td/>
      <td/> <td/>
      <td> <%=f.label :password_confirmation , "Confirm Password:" %></td>
      <td > <%= f.password_field :password_confirmation ,:required => true  %></td>

    </tr>
    <tr>
      <% if params[:controller] == "admin/users" %>
        <td> <%= f.label :role_id,'Role' %></td>
        <td> <%= f.select(:role_id, @roles) %></td>
      <% end %>
    </tr>
  <% end %>  

    <tr>
      <td> <%= f.label :avatar %></td>
      <td> <%= f.file_field :avatar, :onchange => "readURL(this)",id:"avatar" %> </td>
    </tr>

  <tr id = "remover">
    <td/><td><%= image_tag @user.avatar_url(:thumb), id: "preview", height:"150",width: "150" %> <%= f.check_box :remove_avatar, id: "remove" %>Remove</td>
  </tr>
  <tr>
    <td/><td/><td><%= f.submit %></td>
    <td><%= f.submit 'Crop', name: 'crop' %></td>
  </tr>
</table>
