<% if @user.errors.any? %>
  <div class="ui-state-error" id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %> prohibited
      this user from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<table class="form-style-10"  >
  <tr >
    <td> <%= f.label :first_name %> </td>
    <td> <%= f.text_field :first_name ,:required => true, :placeholder => t('first_name') %></td>

    <td> <%= f.label :middle_name %></td>
    <td> <%= f.text_field :middle_name %></td>
 
    <td> <%= f.label :last_name %> </td>
    <td> <%= f.text_field :last_name ,:required => true ,:placeholder => t('last_name') %></td>
  </tr>
  <tr >
    <td> <%= f.label :email %></td>
    <td> <%= f.text_field :email ,:required => true  ,:placeholder => t('email')%></td>

    <td> <%= f.label :login_id %></td>
    <td> <%= f.text_field :login_id ,:required => true  %></td>
    
  <% if params[:action] != 'edit' %>
      <td> <%=  f.label :password %></td>
      <td> <%= f.password_field  :password ,:required => true  %></td>
    </tr>
  
    <tr>
      <td/> <td/>
      <td/> <td/>
      <td> <%=f.label :password_confirmation , "Confirm Password:" %></td>
      <td > <%= f.password_field :password_confirmation ,:required => true  %></td>

    </tr>
  <% end %>  
  <tr>
    <td> <%= f.label :date_of_birth, 'Date of Birth' %></td>
    <td><%= f.text_field :date_of_birth , id: 'datepicker1' %></td>
    
    <td> <%= f.label :gender,'Gender' %></td>
    <td > <%= f.radio_button(:gender,:male) %>
         <%= f.label :gender,"Male" %>
         <%= f.radio_button(:gender,:female) %>
         <%= f.label :gender,"Female" %></td>

    <td> <%= f.label :time_zone,'Time Zone' %></td>
    <td> <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones) %></td>

  </tr>

  <tr>
    <td> <%= f.label :date_of_joining, 'Date of Joining' %></td>  
    <td> <%= f.text_field :date_of_joining , id: 'datepicker2', :required => true%></td>

    <td> <%= f.label :employee_id, "Employee ID"%></td>
    <td> <%= f.text_field :employee_id %></td>


    <td> <%= f.label :designation_id,'Desgination' %></td>
    <td> <%= f.select(:designation_id, Designation.all.map{|d| [d.designation_name, d.id]}) %></td>

  </tr>

  <tr>
    <td> <%= f.label :education %></td>
    <td> <%= f.text_area :education %></td>

    <td> <%= f.label :comments %></td>
    <td> <%= f.text_area :comments %></td>

  <% if params[:controller] == "admin/users" %>

      <td> <%= f.label :role_id,'Role' %></td>
      <td> <%= f.select(:role_id, @roles) %></td>

    </tr>

    <tr>

      <td> <%= f.label :status %></td>
      <td> <%= f.radio_button(:status,"Active") %>
           <%= f.label :status,"Active" %>
           <%= f.radio_button(:status,"Locked") %>
           <%= f.label :status,"Locked" %></td>
    </tr>
    <tr class="check-value">
     
      <td><%= f.label :deactivated_on%></td>
      <td><%= f.text_field :deactivated_on, id: 'datepicker3'  %> </td>
      <td><%= f.label :reason,'Reason' %></td>
      <td><%= f.select(:reason, options_for_select([[''],['No longer an employee with us'], ['Long Medical leave'], ['Absconding',]])) %></td></tr>
  <% end %>
    <tr>
      <td> <%= f.label :previous_experience %></td>
      <td> <%= f.text_field :previous_experience,:required => true  %></td>
      <td> <%= f.label :work_phone%></td>
      <td> <%= f.text_field :work_phone ,:placeholder => t('work_phone') %></td>
    </tr>
    <tr>
      <td> <%= f.label :avatar %></td>
      <td> <%= f.file_field :avatar, :onchange => "readURL(this)",id:"avatar" %> </td>
    </tr>

  <tr id = "remover">
    <td/><td><%= image_tag @user.avatar_url(:thumb), id: "preview", height:"150",width: "150" %> <%= f.check_box :remove_avatar, id: "remove" %>Remove</td>
  </tr>
  <tr>
    <td/><td/><td><%= f.submit %></td>
    <td><%= f.submit 'Crop', name: 'crop' %></td>
  </tr>
</table>
