<!DOCTYPE html>
<html>
<head>
  <title>Ruby Carroms League</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body align="right" data-no-turbolink="true">
  <p>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'myButton' %>
    <% end %>
  </p>
  <%= yield %>
</body>
</html>
